.book{
    border: 1px solid black;
}

.remove{
    background-color: red;
}

.modal{
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.modal-revealed{
    display: block;
}

.read-button{
    background-color: green;
}
